{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/react/umd/react.production.js" crossorigin />
  <script
    src="https://unpkg.com/react-dom/umd/react-dom.production.js"
    crossorigin
  />
  <script
    src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
    crossorigin
  />
  <script>var Alert = ReactBootstrap.Alert;</script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
  />
  <title>Simple React + Django starter</title>
</head>
<body>
  <div id="app"><!-- React --></div>
</body>
<script src="{% static '/main.js' %}"></script>
</html>
