.label {
  margin-bottom: 2px;
  font-size: 16px;
  color: #64676d;
  font-weight: 600;
}

.emptyMessage {
  font-size: 16px;
  font-weight: bold;
}

.alignBottom {
  position: absolute;
  bottom: 0;
}
