.root {
  max-width: 1000px;
  margin: 15px;
  padding: 0 40px;
}

.flex {
  position: relative;
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
}

.right {
  margin: 0 0 0 auto;
}

.section {
  margin-bottom: 20px;
}

.tableHeader {
  font-weight: 600;
}

.statisticContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0;
}

.statistic {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
}

.description {
  font-weight: bold;
  font-size: 24px;
}

.number {
  font-size: 24px;
}

.largeMessage {
  margin: 50px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
