.reason {
  display: flex;
}

.edit {
  float: right;
  width: 80px;
  margin: 10px;
}

.archive {
  float: right;
  min-width: 80px;
  margin: 10px;
}

.delete {
  float: right;
  width: 80px;
  margin: 10px;
}

.save {
  margin: 0 auto;
  max-width: 180px;
  width: 100%;
}
