.reason {
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 56px;
  padding: 12px 20px;
}

.edit {
  float: right;
  width: 80px;
  margin: 10px;
}

.archive {
  float: right;
  min-width: 80px;
  margin: 10px;
}

.delete {
  float: right;
  width: 80px;
  margin: 10px;
}

.save {
  margin: 0 auto;
  max-width: 180px;
  width: 100%;
}

.descriptionContainer {
  display: inline-block;
}

.checkboxContainer {
  position: relative;
  top: 3px;
  display: inline-block;
  padding: 0 15px 0 5px;
  margin: 0;
}

.inline {
  display: inline-block;
  width: calc(100% - 40px) !important;
  display: inline-block !important;
}

.label {
  display: block;
  padding: 0;
  margin: 0;
}

.input {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  padding: 0;
  margin: 0 auto;
  vertical-align: bottom;
  overflow: hidden;
}

.input:hover {
  cursor: pointer;
}

.input:disabled {
  cursor: default;
}
