.secondaryButton {
  background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: rgb(230, 230, 230);
  border: 2px solid rgb(210, 210, 210);
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.3s ease-in-out;
}

.secondaryButton:hover,
.secondaryButton:active {
  background: rgba(0, 0, 0, 0.3);
}

.centered {
  text-align: center !important;
  margin: 0 auto;
  vertical-align: middle;
}

h2.centered {
  color: white;
  padding: 10px;
}

.fiftyfifty {
  font-size: 16px !important;
  margin: 0;
  float: left;
  width: 50%;
}

/*Styling for both the buttons*/
.fiftyfifty > button {
  margin: 0 auto;
  height: 60px;
  width: 300px;
  line-height: 1rem;
}

/*Adjustments per button from center*/
.fiftyfifty:nth-of-type(1) > button {
  float: right;
  margin-right: 2%;
}

.fiftyfifty:nth-of-type(2) > button {
  float: left;
  margin-left: 2%;
}

.section {
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  width: 85%;
  background-color: rgba(1, 1, 1, 0.1) !important;
  border-radius: 5px 5px 5px 5px !important;
  padding: 5% !important;
}

.functionality {
  margin-top: 10% !important;
  max-width: 800px !important;
  padding-bottom: 50px;
  margin: 0 auto;
  flex-grow: 0.85 !important;
  border-radius: 5px;
}

.tagline {
  width: 80% !important;
  max-width: 800px;
}

.blank {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-bottom: 5% !important;
}

.background {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(124deg, #2b60de, #a3b5c1);
}

.title {
  margin: 80px 0 20px;
  font-size: 128px;
  color: rgba(255, 255, 255, 0.9);
}

.fixMargin {
  margin-left: auto !important;
  margin-right: auto !important;
}

.buttonContainer {
  padding: 50px 0 0;
  text-align: center;
}

/*min size*/
@media screen and (max-width: 900px) {
  .fiftyfifty {
    margin: 0 auto;
    float: right !important;
    width: 100%;
  }

  /*Adjustments per button from center*/
  .fiftyfifty > button {
    display: block;
    float: none !important;
    margin: 20px auto !important;
    text-align: center !important;
  }
}
