.root {
  font-family: 'Arial', Serif;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #1c5cbc;
  height: 70px;
}

.navbar .title {
  color: white;
  padding-top: 15px;
}

.navbar .dropDownToggle {
  color: white;
}

.navbar .dropDownToggle:hover {
  color: white;
}

.profileImage {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sideNavHeader {
  background-color: #1c5cbc;
  height: 70px;
  display: block;
  display: flex;
  padding: 10px;
}

.sideNavLogo {
  margin-left: 6px;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.sideNavTitle {
  color: white;
  padding: 10px 10px 10px 16px;
  font-size: 20px;
}

.sideNav .sideNavItem {
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
  width: 100%;
  color: #fff;
  padding: 1.5rem;
  transition: 0.4s ease all;
  border: 0px;
}

.sideNav .sideNavItem:hover {
  background-color: #515052;
  color: #0e8cff;
}

.sideNav .btnClose {
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
}

.sideNav .btnClose:hover {
  color: #0e8cff;
  cursor: pointer;
}

.main {
  flex-direction: column;
  flex: 1;
}

@media (max-width: 568px) {
  .navbarNav {
    display: none;
  }
}
