.root {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  min-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
