.buttonsBar {
  display: inline;
}

.checkboxContainer {
  column-count: 2;
  max-height: 300px;
  text-align: left;
  padding-left: 150px;
  margin: 20px 0 50px;
}

.checkbox {
  margin: 10px 0;
}

.checkboxInput {
  height: 50px;
  width: 200px;
}
.checkboxInput:hover {
  cursor: pointer;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.title {
  padding: 15px;
}
