.buttonsBar {
  display: inline;
}

.checkboxContainer {
  max-width: 900px;
  margin: 20px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox {
  margin: 5px;
}

.checkboxInput {
  height: 50px;
  width: 200px;
}
.checkboxInput:hover {
  cursor: pointer;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.title {
  padding: 15px;
}
