.textfield {
  clear: none;
  background-color: #f6f6f6 !important;
  text-align: center !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 5px !important;
  width: 85% !important;
  border: 2px solid #f6f6f6 !important;
}

.textfield:focus {
  background-color: #fff;
}

.headerText {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  padding-bottom: 25px;
}
